.sign-up,
.sign-up * {
  box-sizing: border-box;
}

body{
    margin: 0;
}

.sign-up {
  background: #ffffff;
  width: 1512px;
  height: 982px;
  /* position: relative; */
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.rectangle-52 {
  background: #b8b8b8;
  width: 586px;
  height: 982px;
  /* position: absolute; */
  left: 0px;
  top: 0px;
}

.frame-107 {
  display: flex;
  flex-direction: column;
  gap: 34px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 859px;
  top: 424px;
}

.frame-103 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  /* position: relative; */
}

.text-box {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 343px;
  /* position: relative; */
}

.lorem-ipsum-is-simply-dummy-text-of-the-printing {
  color: var(--black, #000000);
  text-align: center;
  font: 700 3vw/32px "Inter", sans-serif;
  /* position: relative; */
  align-self: stretch;
}

.text-box2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 335px;
  /* position: relative; */
}

.lorem-ipsum-is-simply-dummy-text-of-the-printing2 {
  color: rgb(118, 118, 118);
  text-align: justified;
  font: var(--link-l, 500 1vw/28px "Inter", sans-serif);
  /* position: relative; */
  align-self: stretch;
}

.button {
  background: var(--black, #000000);
  border-radius: 8px;
  padding: 1vw 8.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 343px;
  height: 59px; */
  transition: all 0.5s ease-in-out; 
}

.button:hover , .button2:hover{
    transform: scale(1.1);
}

.label {
  color: var(--white, #ffffff);
  text-align: center;
  font: var(--heading-3, 700 1.2vw/24px "Inter", sans-serif);
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-106 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 116px;
  top: 418px;
}

.frame-105 {
  display: flex;
  flex-direction: column;
  gap: 27px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}

.frame-104 {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  /* position: relative; */
}

.button2 {
  background: var(--white, #ffffff);
  border-radius: 8px;
  border-style: solid;
  border-color: var(--black, #000000);
  border-width: 2px;
  padding: 1vw 8.5vw;
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  /* width: 343px;
  max-width: 343px;
  height: 58px; */
  /* position: relative; */
  overflow: hidden;
  transition: all .5s ease-in-out; 
}

.label2 {
  color: var(--black, #000000);
  text-align: center;
  font: var(--heading-3, 700 1.2vw/24px "Inter", sans-serif);
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}
