* {

  margin: 0;
  padding: 0;
  border: 0;
  border-spacing: 0;
  text-decoration: none;
  
  }
  
  
  :root{
      --main-padding:10px;
  }
  
  
  body {
      margin: 0;
      background-color:white;
      font-family:Arial, Helvetica, sans-serif;
  }    
  
  
  
  
  img{
      border: 0;
  }
  
  a{
      text-decoration: none;
  }
  
  .container {
          margin: 0 auto;
          /* height: 100vh; */
          background-color:#ffffff;
          font-size: 50%;
          color: #1E1E1E;
          text-align: center;
          /* width: 100%;  */
          /* max-width: 800px;  */
          /* padding: 20px 30px; */
      
          display: grid;
  
      grid-template-columns: 1fr 0.5fr ;
          grid-template-rows: 7fr
           ;
      
          grid-template-areas:
  
          "content2 content1";
      }
  
      .content1{
            grid-area: content1;
            background-color: white;
            background-image: url(https://i.ibb.co/GndJ0LJ/lll.jpg);
            background-size: cover;
            margin: 20px;
            border-radius: 37px;
            display: flex;
            min-width: 171px;
            justify-content: flex-end;
      }
  
      
      .content2{
          grid-area: content2;
          background-color: white;
          padding: 1px 40px;
          padding-right: 80px;
          height: 800px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  
  
  
       
    div.content2 {
        padding: 1px 40px;
        padding-right: 80px;
        height: 800px;
        display: flex;
        flex-direction: row-reverse;
    }
    
    
    
    .form {
        /* background-color: #fff; */
        display: flex;
        padding: 1rem;
        max-width: 350px;
        border-radius: 0.5rem;
        /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }
    
    .form-title {
      font-size: 3vw;
      line-height: 1.75rem;
      font-weight: 600;
      color: #000;
    }
    
    .input-container {
      position: relative;
    }
    
    .input-container input, .form button {
      outline: none;
      margin: 8px 0;
    }
    
    .input-container input {
      background-color: #fff;
      padding: 1rem;
      padding-right: 3rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      width:  19.5vw;
      border-radius: 0.5rem;
      min-width: 121px;
      box-shadow: #286f8c6b 0px 0px 24px;
      color: #286F8C;
      
    }
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #286F8C;
      opacity: 1; /* Firefox */
    }
    
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:#286F8C;
    }
    
    ::-ms-input-placeholder { /* Microsoft Edge */
      color:#286F8C;
    }
    
    .input-container span {
      display: grid;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      padding-left: 1rem;
      padding-right: 1rem;
      place-content: center;
    }
    
    .input-container span svg {
      color: #9CA3AF;
      width: 1rem;
      height: 1rem;
    }
    
    .submit {
      display: block;
      padding-top: 0.75rem;
      padding-bottom: 0.75rem;
      padding-left: 1.25rem;
      padding-right: 1.25rem;
      background-color: #4F46E5;
      color: #ffffff;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      width: 100%;
      border-radius: 0.5rem;
      text-transform: uppercase;
    }
    
    .signup-link {
      color:#7EA9BA;
      font-size: 0.875rem;
      line-height: 1.25rem;
      text-align: center;
    }
    
    .signup-link a {
      text-decoration: underline;
    }
    
    .submit a.active {
      background-color: #04AA6D;
      color: white;
    }
    
    .submit :hover:not(.active) {
      /* background-color: #555; */
      color: rgba(255, 255, 255, 0.512);
    }


    