body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  margin-left: -10px !important;
  padding-left: 20px !important;
  border-radius: 32px !important;
  height: 100%;
  width: 170px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #111; */
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 60px; */
  background-color: lightblue; 
  margin: 14px; 
  border-radius: 10px;    
  display: flex;
  flex-direction: column;
  align-items: center;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar a {
    font-size: 1.3vw;
    list-style-type: none;
    /* padding: 15px 0; */
    cursor: pointer;
    text-align: left;
    font-weight: 600;
    color: #142b38;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    white-space: nowrap;
    transition: 0.3s;
    text-decoration: none;
    width: max-content;
    justify-content: flex-start;
    gap: 17px;
    margin-left: 10px;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size:  2.5625vw;
  cursor: pointer;
  background-color: lightblue; 
  color: #142B38;
  padding: 10px 15px;
  border: none;
  /* margin-left: 15px; */
}

#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;;}
  .sidebar a {font-size: 18px;}
}

@media screen and (max-width: 500px) {
    .sidebar{ width: 85px !important}

    .sidebar > img {
      right: 0 !important;
    }
}
.round {
            background: #b4b4b4;
            border-radius: 60%;
            width: 6.25vw;
            height:  6.25vw;
            min-height: 35px;
            min-width: 35px;

            /* margin-bottom: 70px; */
            /* margin: 10px 20px 75px 10px; */
          }

.user{
    display: none;
}


.list{
            padding-left: 10%;
            cursor: pointer; /* Add cursor pointer to the list item */
          }

          .list > li{
            font-size: 1.3vw;
            list-style-type: none;
            padding: 15px 0;
            cursor: pointer;
            text-align: left;
            font-weight: 600;
            color:  #142b38;
            display: flex;
    overflow-x: hidden;
    white-space: nowrap;
    align-items: flex-end
          }

          .list > li > .icon{
            fill:  #142b38;
            margin-bottom: -4px;
            cursor: pointer;
            padding: 0 10px;
            width: 1.9vw;
            height: 1.9vw;
          }
          .list > li:hover {
            color:  rgba(239, 99, 88, 1);
            .icon{
            fill:  #EF9453;                
            }

          }

          .pencil{

            fill:  #286f8c;             
            margin-bottom: -41px;
            cursor: pointer;
            padding: 0 10px;
            width: 1.9vw;
            height: 1.9vw;
            min-width: 20px;
    min-height: 16px;
          }

          .pencil:active{
            fill:  #EF9453; 
          }

          .plus{
            fill:  black;             
            /* margin-bottom: -4px; */
            cursor: pointer;
            /* padding: 0 10px; */
          }

          .plus:active{
            fill: #EF9453; 
          }

          .divider {
            border-style: solid;
            border-color: #292d32;
            border-width: 2px 0 0 0;
            width: -webkit-fill-available;
            height: 0px;
          }

          .icon{
            min-width: 15px !important;
            min-height: 15px !important;
            width: 3.3vw !important;
            height: 3.3vw !important;
          }

          .user2 ,.user3{
            display: none;
          }

          .openbtn:active{
            .user2 , .user3{
                display: block;
            }
          }

          .user2:hover , .user3:hover , .user4:hover , .user5:hover , .user6:hover , .user7:hover , .user8:hover , .user9:hover , .user10:hover , .user11:hover , .user12:hover , .user13:hover{
            color: #EF9453;
          }
* {

    margin: 0;
    padding: 0;
    border: 0;
    border-spacing: 0;
    text-decoration: none;
    
    }
    
    
    :root{
        --main-padding:10px;
    }
    
    
    body {
        margin: 0;
        /* background-color:#979797; */
        /* font-family:Arial, Helvetica, sans-serif; */
    }    
    
    
    
    
    img{
        border: 0;
    }
    
    a{
        text-decoration: none;
    }
    
    .container {
            margin: 0 auto;
            height: 100vh;
            background-color: #c7c7c7;
            font-size: 50%;
            color: #1E1E1E;
            text-align: center;
            /* width: 100%;  */
            /* max-width: 800px;  */
            /* padding: 20px 30px; */
        
            display: grid;
    
        grid-template-columns: 0.34fr 2fr;
            grid-template-rows:  7fr
             ;
        
            grid-template-areas:

            "content1 content2";
        }
    
        
        .content1{
            grid-area: content1;
            /* border-right: 0.6px; */
            border-color: #1E1E1E;
            border-style: double;
            display: flex;
            /* margin-top: 168px; */
            flex-direction: column;
            align-items: center;
            line-height: 22px;
            background-color:white;
            /* border-radius: 9px; */
            min-width: 97px;
        }
    
        .hr{
            width: -webkit-fill-available;
            background-color: #1E1E1E;
            height: 0.9px;
            position: absolute;
            top: 148px;
        }


        .round {
            background: #b4b4b4;
            border-radius: 50%;
            width: 5.9vw;
            height: 5.9vw;
            /* margin-bottom: 70px; */
            /* margin: 10px 20px 75px 10px; */
          }
          
          .main-round{
            /* background: #b4b4b4; */
            border-radius: 50%;
            width: 9vw;
            height: 9vw;
            /* margin: 20px; */
            margin-bottom: 20px;
          }

          .list{
            padding-left: 10%;
          }

          .list > li{
            font-size: 1.3vw;
            list-style-type: none;
            padding: 15px 0;
            cursor: pointer;
            text-align: left;
            font-weight: 600;
            color:  #142b38;
          }

          .list > li > .icon{
            fill:  #142b38;
            margin-bottom: -4px;
            cursor: pointer;
            padding: 0 10px;
            width: 1.9vw;
            height: 1.9vw;
          }
          .list > li:active {
            color:  rgba(239, 99, 88, 1);
            .icon{
            fill:  #286f8c;                
            }

          }

          .pencil{

            fill:  #286f8c;             
            margin-bottom: -41px;
            cursor: pointer;
            padding: 0 10px;
            width: 1.9vw;
            height: 1.9vw;
          }

          .pencil:active{
            fill:  #286f8c; 
          }

          .plus{
            fill:  black;             
            /* margin-bottom: -4px; */
            cursor: pointer;
            /* padding: 0 10px; */
          }

          .plus:active{
            fill:  rgba(0, 0, 0, 0.47); 
          }

          .divider {
            border-style: solid;
            border-color: #292d32;
            border-width: 2px 0 0 0;
            width: -webkit-fill-available;
            height: 0px;
          }
          
        
        .content2{
            grid-area: content2;
            background-color: white;
            min-width: max-content;

        }

        .profile{
            font-size: 2.5vw;
            font-weight: 700;
            text-align: left;
            padding: 15px 25px;
            /* position: relative; */
            left: 106px;
            top: 40px;
        }

        .content3{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 40px;
            line-height: 2.7vw;
            margin-left: 15%;


        }

        button{
            background-color: transparent;
            margin: 0;
            padding: 0;
            border: 0;
            border-spacing: 0;
            display: flex;
        }


        .search{
            color: var(
                --dark-gray,
                linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                linear-gradient(to left, #ffffff, #ffffff)
              );
              text-align: left;
              font: 400  1.4vw "Inter", sans-serif;
              position: relative;
              flex: 1;
              height: 29px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background: #ffffff;
              border-radius: 8px;
              border-style: solid;
              border-color: rgba(128, 128, 128, 0.67);
              border-width: 2px;
              width: 36.2vw;
              padding: 0 40px;
              min-width: 267px;

        }

        .Location {
            color: var(
                --dark-gray,
                linear-gradient(to left, rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
                linear-gradient(to left, #ffffff, #ffffff)
              );
              text-align: left;
              font: 400  1.4vw "Inter", sans-serif;
              position: relative;
              flex: 1;
              height: 29px;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              background: #ffffff;
              border-radius: 8px;
              border-style: solid;
              border-color: rgba(128, 128, 128, 0.67);
              border-width: 2px;
              width:  32vw;
              padding: 0 10px;
              margin-left: 1.7vw;
              margin-top: 10px;
              /* min-width: 173px; */
              min-width: 257px;

        }

        .content4{
            display: flex;
            margin-top: 90px;
            align-items: center;
            width: -webkit-fill-available;
            flex-direction: column;
            gap: 34px;
        }

        .label{
            background: #234e5c;
            border-radius: 8px;
            padding: 8px 16px 8px 16px;
            display: flex;
            flex-direction: row;
            gap: 8px;
            align-items: center;
            justify-content: center;
            width: 16.171875vw;
            height: 4.609375vw;
            color: var(--white, #ffffff);
            text-align: center;
            font: var(--heading-3, 700  1.40vw "Inter", sans-serif);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            min-width: 94px;
    min-height: 26.8px;
        }